<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
            http://www.springframework.org/schema/context 
            http://www.springframework.org/schema/context/spring-context-3.0.xsd
            http://www.springframework.org/schema/aop 
            http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
            http://www.springframework.org/schema/tx 
            http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
            http://www.springframework.org/schema/mvc 
            http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd
            http://www.springframework.org/schema/context 
            http://www.springframework.org/schema/context/spring-context-3.0.xsd">
            
	<context:annotation-config />
   	<tx:annotation-driven/>
   	<mvc:annotation-driven />
	<!-- 设置使用组件注解的类所在的package -->
    <context:component-scan base-package="**.controller"/>
    <!-- 后台静态资源 -->
    <mvc:resources location="/sys/img/" mapping="/sys/img/**" />
    <mvc:resources location="/sys/js/"  mapping="/sys/js/**" />
    <mvc:resources location="/sys/css/" mapping="/sys/css/**" />
    
    <mvc:resources location="/user/component/" mapping="/user/component/**" />
    <mvc:resources location="/user/js/" mapping="/user/js/**" />
    <mvc:resources location="/user/js/" mapping="/user/js/**" />
    
    
    
    <mvc:resources mapping="/favicon.ico" location="/favicon.ico" />
   	

    <!-- 对转向页面的路径解析。prefix：前缀， suffix：后缀 -->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver" p:prefix="/WEB-INF/pages/" p:suffix=".jsp" />
    <!-- 拦截器 -->
    <mvc:interceptors>
        <mvc:interceptor>
            <mvc:mapping path="/**"/>
            <!-- 登录和退出 -->
            <mvc:exclude-mapping path="/login" />
            <mvc:exclude-mapping path="/logout" />
            <!-- 静态文件 -->
            <mvc:exclude-mapping path="/**/*.css" />
            <mvc:exclude-mapping path="/**/*.js" />
            <mvc:exclude-mapping path="/**/*.png" />
            <mvc:exclude-mapping path="/**/*.jpg" />
            <mvc:exclude-mapping path="/**/*.ico" />
            <mvc:exclude-mapping path="/**/*.eot" />
            <mvc:exclude-mapping path="/**/*.svg" />
            <mvc:exclude-mapping path="/**/*.ttf" />
            <mvc:exclude-mapping path="/**/*.woff" />
            <mvc:exclude-mapping path="/**/*.html" />
            <mvc:exclude-mapping path="/**/*.exe" />
            <mvc:exclude-mapping path="/**/*.apk" />
            <mvc:exclude-mapping path="/**/*.map" />
            <bean class="com.zs.frame.filters.LoginInterceptor"></bean>
        </mvc:interceptor>
    </mvc:interceptors>
    
    <!-- 容器加载完成事件 -->
    <!-- <bean class="com.zs.frame.services.InitListener"></bean>   -->
</beans>